[Desktop Entry]
Type=Application
Name=Kavla
Comment=Local infinite canvas for exploratory analysis
Exec=kavla-desktop %f
Icon=kavla
Terminal=false
Categories=Office;Database;
MimeType=application/x-kavla;
StartupNotify=true
StartupWMClass=Kavla
